<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>

    <!--sweetest place-->
    <div class='about-us'>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
          <img id="sugarbowl-logo" src='/images/sugarbowl-logo.png' alt='sugarbowl logo' width="225px;" style="margin-left:20px; margin-right:20px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="menu/mainsite"><h3 id="nav-link">menu</h3></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="artwork"><h3 id="nav-link">artwork</h3></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"><h3 id="nav-link">about us</h3></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="contact-us"><h3 id="nav-link">contact us</h3></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class='hero-text top-banner-text'>
        <h1 class='hero-title'><b>about us</b></h1>
      </div>
    </div>

    <div class='history'>
        <div class="row history-row">
            <div class="col-md-6 history-column" style='margin-bottom: 30px;'>
                <img id="man-drinking-beer" src="/images/man.jpeg" alt="man drinking beer" width="100%">
            </div>
            <div class="col-md-6 history-column">
                <h3 class='white-background-title' style='font-size:23px;'><b>The Sugarbowl has been providing a unique atmosphere and delicious food to the Garneau and University communities, and Edmonton as whole since 1943.</b></h3>
                <p class='white-background-paragraph'>In this time it has taken many different shapes, from a burger joint in the 40s and 50s to a coffee house through the 60s and 70s, finally evolving into the full service bistro and neighbourhood pub that you know today.</p>
            </div>
        </div>
    </div>

    <!--lamb burger-->
    <div class='lamb-burger'>
      <div class='hero-text'>
        <h3 class='white-background-title' style="color: white;">"Best lamb burger. We've been there 8 times and have ordered the same thing EVERY time. Love the atmosphere, great drink selection. Would recommend to all."</h3>
        <br>
        <p><b>Ben C. | Yelp</b></p>
    </div>
    </div>

    <!--belgian beers-->
    <div class='belgian-beer'>
        <div class="row belgian-row">
            <div class="col-md-6 belgian-column" style='margin-bottom: 20px;'>
                <h3 class='white-background-title' style='font-size:23px;'><b>One of our proudest achievements is being the first to offer Edmontonians an extensive selection of craft and Belgian beers.</b></h3>
                <p class='white-background-paragraph'>Even today, our beer list is the one to beat. Through all these changes though, our vision has remained the same: to offer a place that is comfortable, a place that builds friendship and a place that is as much about the people inside as it is about the food on your plate. Whether we’re part of your daily routine or this is your first visit, we hope you enjoy being here as much as we do. Cheers!</p>
            </div>
            <div class="col-md-6 belgian-column" style='margin-bottom: 30px;'>
                <img id="belgian-beer" src="/images/porter.jpeg" alt="belgian beer" width="100%">
            </div>
        </div>
    </div>

    <!--footer-->
    <footer class="footer-mainsite">
      <div class='row footer-row'>
        <div class='column footer-column'>
          <div class='icons'>
            <a href='https://www.facebook.com/SugarbowlEdmonton/' target="_blank"><img src='/images/circle-facebook-white.png' alt='facebook link' width="25px;" style='margin-right:5px;'></a>
            <a href='https://twitter.com/sugarbowlcafe' target="_blank"><img src='/images/circle-twitter-white.png' alt='twitter link' width="25px;" style='margin-right:5px;'></a>
            <a href='https://www.instagram.com/sugarbowlcafe/' target="_blank"><img src='/images/circle-instagram-white.png' alt='instagram link' width="25px;" style='margin-right:5px;'></a>
            <a href='https://www.yelp.com/biz/sugarbowl-edmonton' target="_blank"><img src='/images/circle-yelp-white.png' alt='yelp link' width="25px;" style='margin-right:5px;'></a>
            <a href='https://www.tripadvisor.com/Restaurant_Review-g154914-d709334-Reviews-Sugar_Bowl_Coffee_Juice_Bar-Edmonton_Alberta.html' target="_blank"><img src='/images/circle-tripAdvisor-white.png' alt='yelp link' width="25px;" style='margin-right:5px;'></a>
            <a href='https://www.zomato.com/edmonton/sugarbowl-edmonton' target="_blank"><img src='/images/circle-zomato-white.png' alt='zomato link' width="25px;"></a>
          </div>
          <br>
          <br>
          <h5><b>CONTACT</b></h5><br>
            <a id="address" href="https://www.google.com/maps/place/10922+88+Ave+NW,+Edmonton,+AB+T6G+0Z1/@53.5240099,-113.5152986,17z/data=!3m1!4b1!4m5!3m4!1s0x53a0221924c919ed:0x5aa2f21af83d3d24!8m2!3d53.5240099!4d-113.5131099" target="_blank">10922 - 88th Avenue<br>
            Edmonton, AB T6G 0Z1</a><br>
            <a id="tel" href="tel:7804338369">780-433-8369</a><br>
            <a id="mailto" href="mailto:info@thesugarbowl.org">info@thesugarbowl.org</a>
        </div>
        <div class='column footer-column'>
          <h5><b>HOURS</b></h5><br>
          <p><i>7 days a week</i><br>
            9am-9pm</p>
          <p><b>Holiday Hours:</b><br>
            December 24th 9-3pm<br>
            Christmas Day: Closed<br>
            NYE: 9-3pm<br>
            New Years Day: Closed</p>
        </div>
      </div>
    </footer>

    <div class="text-center" style="color: white; background-color:rgb(53,46,41); padding-bottom:10px; margin-bottom:0px;"><small><p id="year"></p></small></div>

    <script>
      var year = new Date().getFullYear();
      document.getElementById('year').innerHTML = year + ' Sugarbowl';
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
