<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sugarbowl</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>

    <!--sweetest place-->
    <div class='sweetest-place'>

      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
          <img id="sugarbowl-logo" src='/images/sugarbowl-logo.png' alt='sugarbowl logo' width="225px;" style="margin-left:20px; margin-right:20px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="menu/mainsite"><h3 id="nav-link">menu</h3></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="artwork"><h3 id="nav-link">artwork</h3></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="about-us"><h3 id="nav-link">about us</h3></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="contact-us"><h3 id="nav-link">contact us</h3></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class='hero-text top-banner-text'>
        <h1 class='hero-title'><b>the sweetest place<br>in town</b></h1>
        <br>
        <div class='icons'>
          <a href='https://www.facebook.com/SugarbowlEdmonton/' target="_blank"><img id="facebook" src='/images/circle-facebook-white.png' alt='facebook link' width="30px;" style='margin-right:10px;'></a>
          <a href='https://twitter.com/sugarbowlcafe' target="_blank"><img id="twitter" src='/images/circle-twitter-white.png' alt='twitter link' width="30px;" style='margin-right:10px;'></a>
          <a href='https://www.instagram.com/sugarbowlcafe/' target="_blank"><img id="instagram" src='/images/circle-instagram-white.png' alt='instagram link' width="30px;" style='margin-right:10px;'></a>
          <a href='https://www.yelp.com/biz/sugarbowl-edmonton' target="_blank"><img id="yelp" src='/images/circle-yelp-white.png' alt='yelp link' width="30px;" style='margin-right:10px;'></a>
          <a href='https://www.tripadvisor.com/Restaurant_Review-g154914-d709334-Reviews-Sugar_Bowl_Coffee_Juice_Bar-Edmonton_Alberta.html' target="_blank"><img src='/images/circle-tripAdvisor-white.png' alt='yelp link' width="30px;" style='margin-right:10px;'></a>
          <a href='https://www.zomato.com/edmonton/sugarbowl-edmonton' target="_blank"><img src='/images/circle-zomato-white.png' alt='zomato link' width="30px;"></a>
        </div>
      </div>
    </div>

    <!--welcome-->
    <div class='welcome'>
      <div class='hero-text'>
        <h1 class='hero-title'><b>welcome</b></h1>
        <p class='hero-paragraph'>The Sugarbowl has been providing a unique atmosphere and delicious food to the Garneau and University communities and Edmonton as whole since 1943. In this time it has taken many different shapes, from a burger joint in the 40s and 50s to a coffee house through the 60s and 70s, finally evolving into the full-service bistro and neighborhood pub that you know today.</p>
      </div>
    </div>

    <!--hours of operation-->
    <div class='hours-operation'>
      <div class='row'>
          <div class='column'>
            <img src='/images/menu.jpeg' alt='menu' style='width:100%'>
          </div>
          <div class='column'>
            <img src='/images/huevos.jpeg' alt='huevos' style='width:100%'>
          </div>
          <div class='column'>
            <img src='/images/beers.jpeg' alt='beer' style='width:100%'>
          </div>
          <div class='column'>
            <img src='/images/cinnBun-coffee.png' alt='cinnamon bun' style='width:100%'>
          </div>
      </div>

      <div class='hours-operation-text'>
        <h3 class='white-background-title'>Open 9am-9pm 7 days a week!</h3>
        <p class='white-background-paragraph'>Serving breakfast, lunch and dinner 7 days a week. We are currently offering curb-side pickup for food, our famous selection of off-sale beers, wines, and everything fine!</p>
        <h5 class='white-background-title'>ORDER BY PHONE, IN-STORE OR EMAIL (1-DAY IN ADVANCE FOR EMAIL ORDERS) . WE ARE ALSO AVAILABLE ON UBER-EATS.</h5>
        <p class='white-background-paragraph'><b>phone:</b> <a href='tel:7804338369'>780-433-8369</a> | <b>email:</b> <a href='mailto:info@thesugarbowl.org'>info@thesugarbowl.org</a> | <b>address:</b> <a href='https://www.google.com/maps/place/10922+88+Ave+NW,+Edmonton,+AB+T6G+0Z1/@53.5240099,-113.5153039,17z/data=!3m1!4b1!4m5!3m4!1s0x53a0221924c919ed:0x5aa2f21af83d3d24!8m2!3d53.5240099!4d-113.5131099' target="_blank">10922 88 Ave, Edmonton</a></p>
      </div>

      <a href="https://sugarbowl-menu.herokuapp.com/menu/mainsite"><button class='button' type='button' style='margin-bottom:90px;'>MENU</button></a>
    </div>

    <!--the family-->
    <div class='the-family'>
      <div class='hero-text'>
        <h1 class='hero-title'>the family</h1>
        <p class='hero-paragraph'> Visiting any one of these unique neighborhood establishments exposes us to the rich history of Garneau. The Story begins in 1943 where The Sugarbowl has slowly evolved into the full-service bistro we love today.</p>
      </div>
    </div>

    <!--the family description-->
    <div class='family-description'>
      <div class='row family-row'>
        <div class='col-md-4 family-column'>
          <img src='/images/eleanor-logo.png' class='family-logo'>
          <h2 class='white-background-title'>Eleanor and Laurent</h2>
          <p class='white-background-paragraph'>Eleanor & Laurent is the newest addition directly west of  "The Sweetest Place in Town" and is currently open Wednesday-Sunday 9-8. As a homage to the Garneau’s who settled the area, these “Founders of the Feast” are currently sharing the experience of a Parisian café for take-away, a boulangerie, and patisserie. Our house-cured charcuterie has recently been launched and our main floor rotisserie is in its final stages of completion. 
            <br><br>Follow us on Instagram <a href='https://www.instagram.com/eleanor.laurent/?hl=en' target="_blank">@eleanorandlaurent</a></p>
        </div>
        <div class='col-md-4 family-column'>
          <img src='/images/kaffa-logo.png' class='family-logo'>
          <h2 class='white-background-title'>Kaffa Coffee Company</h2>
          <p class='white-background-paragraph'>Kaffa Roaster and Studio Coffee Company are currently working towards their own opening. It is however showcasing freshly roasted specialty coffees for The Sugarbowl, Eleanor & Laurent, and a few lucky establishments that caught wind of our new project. Kaffa is anticipating providing the broader Edmonton Community with a daytime cafe as well as a locally-driven & inspired studio space for both day & evening. 
            <br><br>Follow us on Instagram <a href='https://www.instagram.com/kaffaroasterandstudio/?hl=en' target="_blank">@kaffaroasterandstudio</a> for the most up-to-date information on what we’re up to leading up to our official opening.</p>
        </div>
        <div class='col-md-4 family-column'>
          <img src='/images/petiteIza-logo.png' class='family-logo'>
          <h2 class='white-background-title'>La Petite Iza</h2>
          <p class='white-background-paragraph'>La Petite Iza is a bistro located on Eleanor & Laurent's uppermost floor and is currently booking for intimate gatherings. Please visit here to book.  
            <br><br>Also, follow us on Instagram <a href='https://www.instagram.com/la_petite_iza/?hl=en' target="_blank">@la_petite_iza</a></p>
        </div>
      </div>

      <div class='row family-photo-row'>
        <div class='column family-photo-column'>
          <img class="family-description-photo" src='/images/open-garage.jpeg' alt='dining #1'>
        </div>
        <div class='column family-photo-column'>
          <img class="family-description-photo" src='/images/girls-eating.jpeg' alt='dining #2'>
        </div>
      </div>

    </div>

    <!--footer-->
    <footer class="footer-mainsite">
      <div class='row footer-row'>
        <div class='column footer-column'>
          <div class='icons'>
            <a href='https://www.facebook.com/SugarbowlEdmonton/' target="_blank"><img src='/images/circle-facebook-white.png' alt='facebook link' width="25px;" style='margin-right:5px;'></a>
            <a href='https://twitter.com/sugarbowlcafe' target="_blank"><img src='/images/circle-twitter-white.png' alt='twitter link' width="25px;" style='margin-right:5px;'></a>
            <a href='https://www.instagram.com/sugarbowlcafe/' target="_blank"><img src='/images/circle-instagram-white.png' alt='instagram link' width="25px;" style='margin-right:5px;'></a>
            <a href='https://www.yelp.com/biz/sugarbowl-edmonton' target="_blank"><img src='/images/circle-yelp-white.png' alt='yelp link' width="25px;" style='margin-right:5px;'></a>
            <a href='https://www.tripadvisor.com/Restaurant_Review-g154914-d709334-Reviews-Sugar_Bowl_Coffee_Juice_Bar-Edmonton_Alberta.html' target="_blank"><img src='/images/circle-tripAdvisor-white.png' alt='yelp link' width="25px;" style='margin-right:5px;'></a>
            <a href='https://www.zomato.com/edmonton/sugarbowl-edmonton' target="_blank"><img src='/images/circle-zomato-white.png' alt='zomato link' width="25px;"></a>
          </div>
          <br>
          <br>
          <h5><b>CONTACT</b></h5><br>
            <a id="address" href="https://www.google.com/maps/place/10922+88+Ave+NW,+Edmonton,+AB+T6G+0Z1/@53.5240099,-113.5152986,17z/data=!3m1!4b1!4m5!3m4!1s0x53a0221924c919ed:0x5aa2f21af83d3d24!8m2!3d53.5240099!4d-113.5131099" target="_blank">10922 - 88th Avenue<br>
            Edmonton, AB T6G 0Z1</a><br>
            <a id="tel" href="tel:7804338369">780-433-8369</a><br>
            <a id="mailto" href="mailto:info@thesugarbowl.org">info@thesugarbowl.org</a>
        </div>
        <div class='column footer-column'>
          <h5><b>HOURS</b></h5><br>
          <p><i>7 days a week</i><br>
            9am-9pm</p>
          <p><b>Holiday Hours:</b><br>
            December 24th 9-3pm<br>
            Christmas Day: Closed<br>
            NYE: 9-3pm<br>
            New Years Day: Closed</p>
        </div>
      </div>
    </footer>

    <div class="text-center" style="color: white; background-color:rgb(53,46,41); padding-bottom:10px; margin-bottom:0px;"><small><p id="year"></p></small></div>

    <script>
      var year = new Date().getFullYear();
      document.getElementById('year').innerHTML = year + ' Sugarbowl';
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
