<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Confirmation</title>

    <!--Bootstrap styling-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #352e29; justify-content:space-between;">
      <img id="sugarbowl-logo" src='/images/sugarbowl-logo.png' alt='sugarbowl logo' width="225px;" style="margin-left:20px; margin-right:20px;">
      <a class="navbar-brand" href="/menu/logout">
          <button type="button" class="btn btn-outline-light">Logout</button>
      </a>
    </nav>

    <div class='container-fluid' id='update-page'>
    <h1 id="update-title" style='margin-top: 100px;'><%= title %></h1>
    <br>
    <br>
    <p class="lead inline" style='margin-right: 5px;'>See your changes: </p>
    <a id="update-menu-button" class='btn btn-success inline' href='/menu/' target='_blank' role='button'>See Menu</a>
    <br>
    <br>
    <p class="lead inline" style='margin-right: 5px;'>Update more items:</p>
    <a id="update-menu-button" class='btn btn-primary inline' href='/menu/gravlaxisnotalaxative/update' role='button'>Update More</a>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--bootstrap bundle with popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  
  </body>
</html>