<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Selection</title>

    <!--Bootstrap styling-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark">
      <img id="sugarbowl-logo" src='/images/sugarbowl-logo.png' alt='sugarbowl logo' width="225px;" style="margin-left:20px; margin-right:20px;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right:20px;">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="menu/mainsite"><h3 id="nav-link">menu</h3></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="artwork"><h3 id="nav-link">artwork</h3></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="about-us"><h3 id="nav-link">about us</h3></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="contact-us"><h3 id="nav-link">contact us</h3></a>
          </li>
        </ul>
      </div>
    </nav> -->

    <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #352e29; justify-content:space-between;">
      <img id="sugarbowl-logo" src='/images/sugarbowl-logo.png' alt='sugarbowl logo' width="225px;" style="margin-left:20px; margin-right:20px;">
      <a class="navbar-brand" href="/menu/logout">
          <button type="button" class="btn btn-outline-light">Logout</button>
      </a>
    </nav>

    <div class='container-fluid' id='update-page'>
    <h1 id="update-title" style="margin-top: 25px;"><%= title %></h1>
    <br>
    <div class="updateText" style='margin-bottom: 15px;'>
    <p class='lead left-align'><b>Use this form to:</b></p>
    <ol>
      <li><p>Update Item Availability</p></li>
      <li><p>Create/Update Featured Items (Beer/Brunch/Lunch/Dinner/Dessert), Soup, and Cheesecake</p></li>
    </ol>
    <p class='lead left-align'><b>Complete the steps to choose your item.</b></p>
    </div>
    <br>

    <script>
      // default display
      function buildSubcat() {
          // selected category
          var category = d3.select('#category').property('value');
          // dropdown of subcategories
          var selectorSubcat = d3.select('#subcategory');

          var subcatBev_list = ['--Select--', 'Beer/Cider', 'Rotating Feature Beers', 'Wine', 'Spirits', 'Cocktails', 'Specialty Coffees', 'Coffee & Non-Alcoholic'];
          var subcatFood_list = ['--Select--', 'Breakfast', 'Lunch & Dinner', 'Desserts'];

          if (category=='Beverages') {
            selectorSubcat.html('');
            subcatBev_list.forEach((subcat) => {
                selectorSubcat
                    .append("option")
                    .text(subcat)
                    .property('value', subcat);
            });
          }
          if (category=='Food') {
            selectorSubcat.html('');
            subcatFood_list.forEach((subcat) => {
                selectorSubcat
                    .append("option")
                    .text(subcat)
                    .property('value', subcat);
            });
          }
      };

      function buildName() {
        // selected category
        var subcategory = d3.select('#subcategory').property('value');
        // dropdown of subcategories
        var selectorName = d3.select('#name');

        var nameBeerCider_list = ['Alleykat Aprikat Apricot Ale', 'Analog Hive Bomber Honey Wheat', 'Annex Ale Project Good Authority Golden Ale', //
        'Apex Predator Double IPA', 'Blindman Triphammer Porter', 'Brauerei Fahr AB Hefeweizen', 'Brauerei Fahr AB Copper', //
        'Collective Arts Apple-Cherry Cider', 'Collective Arts Apple Cider', 'Revel Cider Prosthetic Conscience', 'Revel Sonata Cherry Cider', //
        'Sourwood Wabamo Dry Hopped Cider', 'Sourwood Plumbum', 'Sourwood Semitone', 'DDC Aphrodisiaque Strong Stout', //
        'Mongozo GF Pilsner', 'New Level Berserker Blonde', 'Sea Change Prairie Fairy Blackberry Wheat', //
        'The Dandy Brewing Company T2G IPA', 'Townsquare Forged Amber Rye Ale', 'Achel Blond', 'Chimay Red', //
        'Chimay White', 'Chimay Blue', 'Dupont Avec Les Bons Voeux', 'Gouden Carolus Classic', 'Kwak', //
        'La Guillotine', 'Lindemans Oude Gueuze Cuvée René Lambic', 'Orval Trappist Ale', 'Rochefort 6', 'Rochefort 8', 'Westmalle Dubbel', //
        'Westmalle Tripel'];

        var nameFeatureDraft_list = ['Feature Draft #1', 'Feature Draft #2', 'Feature Draft #3', 'Feature Draft #4', //
        'Feature Draft #5', 'Feature Draft #6', 'Feature Draft #7', 'Feature Draft #8', 'Feature Draft #9', 'Feature Draft #10', 'Feature Bottle/Can #1', 'Feature Bottle/Can #2', 'Feature Bottle/Can #3', 'Feature Bottle/Can #4', //
        'Feature Bottle/Can #5', 'Feature Bottle/Can #6', 'Feature Bottle/Can #7', 'Feature Bottle/Can #8', 'Feature Bottle/Can #9', 'Feature Bottle/Can #10'];

        var nameWine_list = ["Clos du Soleil Célestiale . Meritage '16", "Clos du Soleil Capella . White Meritage '18", //
        "Lapis Luna . Zinfandel '19", "Lapis Luna . Chardonnay '18", "Wild Goose . Gewürtztraminer '18", //
        "Rosewood . Night Moves . Gamay '17", "Laughing Stock . Portfolio Red '18", "Pearl Morissette Cuvée Sputnik . Riesling '17", //
        "Mionetto Prosecco DOC Treviso Brut", "Frico Lambrusco Sparkling Red", "Benjamin Bridge Pétillant Naturel Sparkling", //
        "Richvale Pool Party Rosé"];

        var nameSpirits_list = ["Vodka: Grey Goose", "Vodka: CIROC", "Gin: Tempo", "Gin: Ophir", "Gin: Long Table Cucumber", //
        "Tequila: Arette Blanco", "Tequila: Espolòn Reposado", "Tequila: Mezcal Pelotón", "Whisky: Glendalough Irish", //
        "Whiskey: Forty Creek Copper Pot", "Whiskey: Nikka Coffee Still Malt (Japan)", "Whiskey: Lot 40 Rye", //
        "Scotch: Adelphi Private Stock Blend", "Scotch: Glengoyne 12", "Scotch: Caol Ila 12", "Scotch: Laphroaig Select", //
        "Scotch: Glenrothes 12", "Bourbon: 1792", "Bourbon: Buffalo Trace", "Bourbon: Bulleit", "Bourbon: Knob Creek", //
        "Bourbon: Four Roses", "Bourbon: Old Grand Dad", "Bourbon: Sazerac", "Rum: El Dorado 3 yr", "Rum: El Dorado 12 yr", //
        "Rum: Blackpool Spiced"];

        var nameCocktails_list = ["Boulevardier", "Grandmother's Purse", "Horse With No Mane", "Penicillin", //
        "Mimosa", "Sangria: Red", "Sangria: White", "Caesar"];

        var nameSpecialtyCoffees_list = ["B52", "After 8", "Monte Cristo", "Spanish", "Irish", "Tiramisu"];

        var nameCoffeeNonalcoholic_list = ["House-Made Chai Latte", "Hot Chocolate", "London Fog", "Cold Brew", "Pop: Coca-Cola", "Pop: Diet Coke", //
        "Pop: Sprite", "Pop: Ice Tea", "Pop: Ginger Ale", "S.Pellegrino: Blood Orange", "S.Pellegrino: Clementine", //
        "S.Pellegrino: Lemon", "S.Pellegrino: Pomegranate-Orange", "S.Pellegrino Sparkling Mineral Water: 250 mL", //
        "S.Pellegrino Sparkling Mineral Water: 750 mL", "Annex: Root Beer", "Annex: Saskatoon Lemonade", //
        "New Level Painapple Punch Craft Soda", "Royal Jamaican Ginger Beer", "Stiegl Freibier Non-Alcoholic", //
        "Fancy Tonic"];

        var nameBreakfast_list = ['The Sugar Griddle', 'Chicken Waffle Sandwich', 'Brunch Feature', 'Breakfast Sandwich', 'Burrito', 'Chicken And Waffles', 'Cinnamon Bun', //
        'French Toast', 'Huevos Rancheros', 'Omelette', 'Sugarbowl Benny', 'Vegan Sausage Tofu Scramble'];
        var nameLunchDinner_list = ['The Sugar Griddle', 'Chicken Waffle Sandwich', 'Chicken Salad Sandwich', 'The Heady Vegetarian Sandwich', 'Lunch Feature #1', 'Lunch Feature #2', 'Dinner Feature #1', 'Dinner Feature #2', 'Almond Spread With Pita Bread', 'Beef Burger', 'Bison Chili', //
        'Caesar Salad', 'Chicken And Waffles', 'Chicken Curry Stew', 'Jerk Chicken Sandwich', 'Lamb Burger', "Mac' And Cheese", //
        'Pommes Frites', 'Pulled Pork Sandwich', 'Smoked Paprika Popcorn', 'Soup Of The Day', 'Veggie Burger', //
        'Yam Fries'];
        var nameDesserts_list = ['Dessert Feature', 'Banana Cream Pie', 'Cheesecake Of The Day', 'Cinnamon Bun'];

        if (subcategory=='Beer/Cider') {
            selectorName.html('');
            nameBeerCider_list.forEach((name) => {
                selectorName
                    .append("option")
                    .text(name)
                    .property('value', name);
            });
        }
        if (subcategory=='Rotating Feature Beers') {
            selectorName.html('');
            nameFeatureDraft_list.forEach((name) => {
                selectorName
                    .append("option")
                    .text(name)
                    .property('value', name);
            });
        }
        if (subcategory=='Wine') {
            selectorName.html('');
            nameWine_list.forEach((name) => {
                selectorName
                    .append("option")
                    .text(name)
                    .property('value', name);
            });
        }
        if (subcategory=='Spirits') {
            selectorName.html('');
            nameSpirits_list.forEach((name) => {
                selectorName
                    .append("option")
                    .text(name)
                    .property('value', name);
            });
        }
        if (subcategory=='Cocktails') {
            selectorName.html('');
            nameCocktails_list.forEach((name) => {
                selectorName
                    .append("option")
                    .text(name)
                    .property('value', name);
            });
        }
        if (subcategory=='Specialty Coffees') {
            selectorName.html('');
            nameSpecialtyCoffees_list.forEach((name) => {
                selectorName
                    .append("option")
                    .text(name)
                    .property('value', name);
            });
        }
        if (subcategory=='Coffee & Non-Alcoholic') {
            selectorName.html('');
            nameCoffeeNonalcoholic_list.forEach((name) => {
                selectorName
                    .append("option")
                    .text(name)
                    .property('value', name);
            });
        }
        if (subcategory=='Breakfast') {
            selectorName.html('');
            nameBreakfast_list.forEach((name) => {
                selectorName
                    .append("option")
                    .text(name)
                    .property('value', name);
            });
          }
        if (subcategory=='Lunch & Dinner') {
          selectorName.html('');
          nameLunchDinner_list.forEach((name) => {
              selectorName
                  .append("option")
                  .text(name)
                  .property('value', name);
          });
        }
        if (subcategory=='Desserts') {
            selectorName.html('');
            nameDesserts_list.forEach((name) => {
                selectorName
                    .append("option")
                    .text(name)
                    .property('value', name);
            });
          }
      };
    </script>

    <form method='POST' action=''>
        <div class='form-group'>
            <label for='category'><h5>Step 1: Category</h5></label>
            <select class='form-control' id='category' name='category' onchange='buildSubcat(this.value)'>
              <option value=''>--Select--</option>
              <option value='Beverages'>Beverages</option>
              <option value='Food'>Food</option>
            </select>
          </div>
        <div class='form-group'>
            <label for='subcategory'><h5>Step 2: Subcategory</h5></label>
            <select class='form-control' id='subcategory' name='subcategory' onchange='buildName(this.value)'></select>
        </div>
        <div class="form-group" style='margin-bottom: 20px;'>
          <label for="name"><h5>Step 3: Item Name</h5><p><i> 
            <ul>
              <li>Click the field to see the list.</li>
              <li>Rotating Feature Beers are numbered 1-8 from top-to-bottom of the chalkboard.</li>
            </ul>
          </i></p></label>
          <select class="form-control" id="name" name="name" required='true'></select>
        </div>
        <div class='form-group' style='text-align: center; margin-bottom: 10px;'>
        <button class='btn btn-primary' id='btn_submit' type='submit' style="width:100px;">Submit</button>
        </div>
      </form>
      <hr>
      <br>
      <h5 style="margin-bottom:10px;">To make <b>Breakfast & Brunch Unavailable</b></h5>
      <a id="update-menu-button" class='btn btn-danger' href='/menu/gravlaxisnotalaxative/breakfastunavailable' role='button'>Click Here</a>
      <div style="margin-bottom: 40px;"></div>
      <h5 style="margin-bottom:10px;">To make <b>All Food Items Available</b></h4>
      <a id="update-menu-button" class='btn btn-success inlineButton' href='/menu/gravlaxisnotalaxative/allavailable' role='button'>Click Here</a>
      <div style="margin-bottom: 65px;"></div>
    </div>
    <!--d3 js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--bootstrap bundle with popper-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
  </body>
</html>