<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <!--Bootstrap styling-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
 <!--CSS-->
    <link rel='stylesheet', href='/stylesheets/style.css'>
</head>
<body id="body-waitlist">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" style="margin-left:15px; margin-bottom:5px;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="main-navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" style="margin-left:10px;">
                <li class="nav-item active" id="link-text" style="margin-left:15px;">
                    <a class="nav-link" href="/waitlist/faq">FAQ</a>
                </li>
                <li class="nav-item" id="link-text" style="margin-left:15px;">
                    <a class="nav-link" href="/waitlist/sessions">Active</a>
                </li>
                <li class="nav-item" id="link-text" style="margin-left:15px;">
                    <a class="nav-link" href="/waitlist/sessions/waiting">Waiting</a>
                </li>
                <li class="nav-item" id="link-text" style="margin-left:15px;">
                    <a class="nav-link" href="/waitlist/sessions/notified">Notified</a>
                </li>
                <li class="nav-item" id="link-text" style="margin-left:15px;">
                    <a class="nav-link" href="/waitlist/sessions/confirmed">Confirmed</a>
                </li>
                <li class="nav-item" id="link-text" style="margin-left:15px;">
                    <a class="nav-link" href="/waitlist/sessions/archived">Archived</a>
                </li>
                <li class="nav-item" id="link-text" style="margin-left:15px;">
                    <a class="nav-link" href="/waitlist/session/create">Create New</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" href="/waitlist/logout">
            <button type="button" class="btn btn-outline-light" id="link-text" style="margin-left:15px;">Logout</button>
        </a>
    </nav>

    <main class="container-fluid">
        <h1 id="h1-waitlist" style="margin-top:40px;">Sugarbowl Waitlist</h1>
        <br>
        <p class="lead"><b>Welcome to our Waitlist App!</b></p>
        <p><b>For the FAQ, please pay attention to statements in 'bold' font.</b></p>
        <br>
        <h2>FAQ</h2>
        <ol>
            <li><a href="#view_the_waitlist" style="color:#0094FF;">View the Waitlist</a></li>
            <li><a href="#notify_guests" style="color:#0094FF;">Notify Guests</a></li>
            <li><a href="#clean_up" style="color:#0094FF;">Clean up (Archive) old Wait Sessions</a></li>
            <li><a href="#create_wait" style="color:#0094FF;">Create a Wait Session</a></li>
            <li><a href="#update_wait" style="color:#0094FF;">Update Wait Session Details</a></li>
            <li><a href="#delete_wait" style="color:#0094FF;">Delete a Wait Session</a></li>
            <li><a href="#guest_experience" style="color:#0094FF;">The Guest's Waitlist Experience</a></li>
        </ol>
        <br id="view_the_waitlist">
        <hr>
        <h3>View the Waitlist</h3>
        <br>
        <div style="text-align:left;">
        <ol>
            <li>Click 'Active'/'Waiting'/'Notified'/'Confirmed' on the navigation bar to view Wait Lists.</li>
            <ul>
                <li>'Active' contains 'Waiting' and 'Notified' Guests.</li>
                <li>'Waiting' contains Guests you haven't notified to come in yet.</li>
                <li>'Notified' contains Guests you <em>have</em> notified to come in.</li>
                <li>'Confirmed' contains Guests you <em>have</em> notified AND who have confirmed that they are coming in.</li>
                <li>'Archived' contains Guests who have been:</li>
                <ul>
                    <li>Notified to come in More Than 1 Hour ago.</li>
                    <li>Waiting for More Than 2 Hours.</li>
                </ul>
                <li>Click any Guest Name in 'Active'/'Waiting'/'Notified'/'Confirmed'/'Archived' to view the Guest's Wait Session Details.</li>
                <ul>
                    <li><b>Please note the 'Number Of People' and 'Seating Preference' for each Wait Session <em>before</em> you notify a Guest to come in.</b></li>
                </ul>
            </ul>
        </ol>
        </div>
        <br id="notify_guests">
        <hr>
        <h3>Notify Guests</h3>
        <br>
        <div style="text-align:left;">
        <ul>
            <li><b>To notify a Guest to come in, you can either send them an SMS OR Phone them:</b></li>
            <ul>
                <li>Click on a Guest Name in 'Waiting'.</li>
                <li>Click <b>'Notify By SMS'</b></li>
                <ul>
                    <li>The Guest will receive an SMS on their cell phone asking them to come in.</li>
                    <li>The Guest will be transferred from 'Waiting' to 'Notified'.</li>
                    <li><b style="color:red;">Please notify a Guest to come in by SMS only <em>ONCE</em> by clicking the 'Notify By SMS' button. (This is because each SMS costs about 1 cent.)</b></li>
                </ul>
                <li><b>Alternatively, you can also phone the Guest to ask them to come in. If you <em>have</em> phoned them, please click 'Already Phoned Guest' to transfer them from 'Waiting' to 'Notified'.</b></li>
                <li><b style="color:#003BEF;">Consider bookmarking the app's 'Waiting' page on your cell phone (app URL: <a href='http://bit.ly/sugarwaitstaff' target='_blank' style="color:#0094FF;">bit.ly/sugarwaitstaff</a>) and (double-clicking/copying and pasting) the Guest's phone number to call them.</b></li>
                <li>The time of 'First Notification' (by SMS or phone) will be recorded in the Guest's Wait Session Details.</li>
            </ul>
        </ul>
        <ul>
            <li><b>Please <em>phone</em> when you can and use SMS for busier times since SMS costs money. Thanks!</b></li>
        </ul>
        </div>
        <br id="clean_up">
        <hr>
        <h3>Clean up (Archive) old Wait Sessions</h3>
        <br>
        <div style="text-align:left;">
        <ul>
            <li>Click 'Waiting'/'Notified'/'Confirmed' and then 'Archive Old Sessions' to remove old Wait Sessions from the 'Waiting'/'Notified'/'Confirmed' lists.</li>
            <ul>
                <li>This removes Guests from the lists who have been (1) waiting for more than 2 hours <em>or</em> (2) notified more than 1 hour ago.</li>
                <li>Guests will be transferred from 'Waiting'/'Notified'/'Confirmed' to 'Archived'.</li>
                <li><b>'Archived' only shows Guests who started their wait after 00:00AM (Midnight) today AND were archived</b></li>
                <li>You can still view a Guest's Wait Session Details after they've been archived by clicking the Guest Name.</li>
                <li><b>You cannot 'un-archive' a guest to transfer them back to 'Waiting'/'Notified'/'Confirmed' lists.</b></li>
            </ul>
        </ul>
        </div>
        <br id="create_wait">
        <hr>
        <h3>Create a Wait Session</h3>
        <br>
        <div style="text-align:left;">
        <ol>
            <li>Click 'Create New' to create a new Wait Session for a Guest.</li>
            <li>Fill out the form.</li>
            <li>The Guest will be added to the 'Waiting' and 'Active' lists.</li>
        </ol>
        <ul>
            <li><b>If the Guest is <em>not</em> carrying a Smart Phone:</b></li>
            <ul>
                <li><b>The 'Create New' form has a checkbox for 'Is the Guest carrying a smart phone?'</b></li>
                <li><b>Use 7806556817 or your own phone number (you won't receive spam).</b></li>
                <li><b>When a table is ready, click 'Already Phoned Guest' to transfer the Guest from 'Waiting' to 'Notified'.</b></li>
                <li><b>Please personally fetch the Guest from outside.</b></li>
            </ul>
        </ul>
        </div>
        <br id="update_wait">
        <hr>
        <h3>Update Wait Session Details</h3>
        <br>
        <div style="text-align:left;">
        <p><b>You will only need to update a Wait Session if a Guest asks you to update their details.</b></p>
        <ul>
            <li>Click the Guest's name under 'Waiting'. Click 'Update Session', fill out and submit the form.</li>
            <ul>
                <li>Your updates will be apparent in the Guest's Wait Session Details.</li>
                <li><b>Note: The app also allows the Guest to update their details, so a Guest's Wait Session Details may change even though <em>you</em> haven't made changes.</b></li>
            </ul>
        </div>
        <br id="delete_wait">
        <hr>
        <h3>Delete a Wait Session</h3>
        <br>
        <div style="text-align:left;">
        <ul>
            <li><b>Since you can 'archive' Wait Sessions, you will not need to delete a Guest's Wait Session. This functionality is included for 'just-in-case' scenarios</b>, for example, if a guest asks you to delete their information.</li>
            <li><b>In general, please 'archive' Wait Sessions instead of deleting since I will be collecting data to include 'Estimated Wait Time' to improve the app.</b></li>
            <li>Click the Guest's name under 'Waitlist'/'Notified'/'Confirmed'/'Archived'. Click 'Delete Session'. <b>The Wait Session will be deleted forever.</b></li>
        </ul>
        </div>
        <br id="guest_experience">
        <hr>
        <h3>The Guest's Waitlist Experience</h3>
        <br>
        <div style="text-align:left;">
        <p>To join the Waitlist, the Guest:</p>
        <ol>
            <li>Connects to Wi-Fi or uses cell phone data.</li>
            <li>Scans the <b>QR Code</b> or enters the <b>URL</b> <a href='http://bit.ly/sugarwait' target='_blank' style="color:#0094FF;">bit.ly/sugarwait</a> for the Waitlist into their browser. <b><em>(If the app hasn't been used in 30 min, it goes to sleep and takes a longer time to load back up. The same is true for the app's interface for Sugarbowl staff.)</em></b></li>
            <li>Submits the Guest version of the 'Create New' form.</li>
                <ul>
                    <li>The form directs them to their Wait Session Details (the Guest version). <b>The page displays their Position on the waitlist</b> (e.g. 2 of 5), contact info, etc. <b>They are asked to bookmark this page to track their progress</b> in the waitlist (Figure 1).</li>
                </ul>
            <br>

            <h5 style="text-align:center;"><b>Figure 1</b></h5>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-link left-align p-0" data-bs-toggle="modal" data-bs-target="#modalFig1" style="display:block;margin-left:auto;margin-right:auto;">
                <img id="image" src="/images/waitlist/guest_waitSessionDetails.png" height='250'>
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalFig1" tabindex="-1" aria-labelledby="modalLabelFig1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100" id="modalLabelFig1">Figure 1</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="/images/waitlist/guest_waitSessionDetails.png" id="faq-image" alt="Figure 1">
                </div>
                </div>
            </div>
            </div>

            <br>
            <li><b>The Guest may click 'Update' on their Wait Session Details page</b> to update the number of people in their party, seating preference, phone number, name, etc.</li>
            <li><b>If we click 'Notify By SMS':</b></li>
            <ul>
                <li>The Guest receives an <b>SMS</b> notifying them to come in to the restaurant (Figure 2). <em>(Figure 2 Modification: The second sentence in the SMS will read "This is Sugarbowl.")</em></li>
                <li><b>Their Wait Session Details will have updated - their 'Status' will have changed from 'Waiting' to 'Notified'. (Guests can also see the 'Number Of Times Notified' and the time of 'First Notification' on their Wait Session Details (Figure 3).)</b></li>
            </ul>
            <li><b>Alternatively, we can Phone the Guest to ask them to come into the restaurant. By clicking 'Aready Phoned Guest', the Guest's status also changes from 'Waiting' to 'Notified', and the time of 'First Notification' and 'Number Of Times Notified' also change accordingly.</b> (So technically, you could send the Guest an SMS <em>and</em> Phone them (and use either/both methods multiple times), if that's what you want, but again SMS costs money.)</li>
            <br>
            <div class="row" style="margin-top:0px; margin-bottom:30px;">
                <div class="col" style="margin-bottom:30px;">
                    
                    <h5 style="text-align:center;"><b>Figure 2</b></h5>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link left-align p-0" data-bs-toggle="modal" data-bs-target="#modalFig2" style="display:block;margin-left:auto;margin-right:auto;">
                        <img id="image" src="/images/waitlist/notify_sms.png" width="250" style="display:block;margin:auto;">
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modalFig2" tabindex="-1" aria-labelledby="modalLabelFig2" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100" id="modalLabelFig2">Figure 2</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/images/waitlist/notify_sms.png" id="faq-image" alt="Figure 2">
                        </div>
                        </div>
                    </div>
                    </div>

                </div>
                <div class="col">

                    <h5 style="text-align:center;"><b>Figure 3</b></h5>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link left-align p-0" data-bs-toggle="modal" data-bs-target="#modalFig3" style="display:block;margin-left:auto;margin-right:auto;">
                        <img id="image" src="/images/waitlist/guest_notified.png" height="250" style="display:block;margin:auto;">
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modalFig3" tabindex="-1" aria-labelledby="modalLabelFig3" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100" id="modalLabelFig3">Figure 3</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/images/waitlist/guest_notified.png" id="faq-image" alt="Figure 3">
                        </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
            <li style="margin-top:0px;"><b>The Guest can drop out of the Waitlist by clicking a 'Leave The Waitlist' button on their Wait Session Details.</b></li>
            <li><b>When the Guest is notified to come in, a button displays on their Wait Session Details allowing them to confirm that they are coming in</b>. When they do this, <b>their status changes from "Notified" to "Confirmed".</b></li>
            <li>Guest enters the restaurant.</li>
        </ol>
        <br>
        <p style="text-align: left;"><b>If the Guest is <em>not</em> carrying a Smart Phone, see <a href="#create_wait" style="color:#0094FF;">'Create a Wait Session'</a>.</b></p>
        </div>
        <br>
        <a href="#">
            <button class="btn btn-primary" style="margin-bottom:60px;">Back To The Top</button>
        </a>
    </main>
            
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  
    <!--bootstrap bundle with popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>